<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>用户登录</title>
  <link rel="stylesheet" type="text/css" href="/static/index/css/pc-jifen-login.d09e1d82.css">
  <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
  <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
  <script src="/static/layer/layer.js"></script>
</head>
<body>
<div class="content">
  <div class="content-wrapper cf">
    <div class="login-container independent-password">
      <div class="login-box second-login-box">
        <div style="border: 2px solid #eee;height:376px; width: 376px; " >
          <div class="site-text site-block">
            <div class="title" id="title_2" style="font-size: 18px;text-align: center;margin-top: 30px;">账号注册</div>
            <form style="margin-top: 2em">
              <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                  <input type="text"id="uname" name="uname" required=""  placeholder="用户名" class="layui-input" style="width: 200px;">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                  <input type="text"  id="email" name="email" required="" placeholder="邮箱"   class="layui-input" style="width: 200px;">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                  <input type="password" id="upwd" name="upwd" required=""  placeholder="请输入6-16为密码" class="layui-input" style="width: 200px;">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                  <input type="password"  id="upwd_2" data-form="upwd_2"  placeholder="确认密码" required=""  class="layui-input" style="width: 200px;">
                </div>
              </div>
              <div class="layui-form-item" style="margin-top: 20px;">
                <div class="layui-input-block">
                  <button class="layui-btn layui-btn-fluid"  onclick="reg()"  type="button" style="width: 200px;">注册</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="login-pictures">
      <div class="logo">
        <a href="javascript:;">
          <img src="/static/index/picture/login.png" alt="PHPmall" width="50">
        </a>
      </div>

    </div>
  </div>
</div>
<div class="footer login">
  <div class="footer_cont">
    <p><span class="copyright">Copyright © 2018 王恒兵</span></p>
  </div>
</div>

<script type="text/javascript" src="/static/layui/layui.js" charset="UTF-8"></script>

<script>

    function reg() {
        // 用户名
        var uname = $("#uname").val();
        var upwd = $("#upwd").val();
        var upwd_2 = $("#upwd_2").val();
        var email = $("#email").val();
        var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$"); //正则表达式
        //用户名正则，4到16位（字母，数字，下划线，减号）
        var uPattern = /^[a-zA-Z0-9_-]{5,16}$/;
        var pass = /^\w{6,16}$/;

        if(!uPattern.test(uname)){
            layer.msg('用户名不正确', {
                icon: 5,
                skin: 'layer-ext-moon'
            });
            return;
        }
        if(!reg.test(email)){
            layer.msg('邮箱格式不对哦', {
                icon: 5,
                skin: 'layer-ext-moon'
            });
            return;
        }
        if(upwd=='' || !pass.test(upwd)){
            layer.msg('请输入6-16位密码', {
                icon: 5,
                skin: 'layer-ext-moon'
            });
            return;
        }
        if(upwd !== upwd_2){
            layer.msg('确认密码格式不对哦', {
                icon: 5,
                skin: 'layer-ext-moon'
            });
            return;
        }

        var url = "{:url('user/Login/HandleRegister')}";
        var postData ={"uname":uname,"upwd":upwd,'email':email,'upwd_2':upwd_2};
        $.post(url,postData,function (result) {
            if(result.error === 1 ){
                layer.alert(result.msg,function () {
                    location.href = "{:url('user/Login/login')}";
                });
            }else {
                layer.msg(result.msg, {
                    icon: 5,
                    skin: 'layer-ext-moon',
                });

            }
        },"json")

    }


</script>
</body>
</html>
