<!--顶部-->
{include file="public/top"}
<!--顶部end-->

<body>
<div id="header" class="header">
 <!--个人状态-->
  {include file="public/topmenu"}
  <!--个人状态end-->
  <!--导航栏-->
  {include file="public/topnav"}
  <!--导航栏end-->
</div>

  <!--轮播图-->
  {include file="public/banner-wrap"}
  <!--轮播图end-->
<div class="content">
  <div class="section hot">
    <div class="section-header">
      <div class="title">
        <img src="/static/index/picture/23b7e36cb0a24520b8cd2a835ac62024.gif">
        <h2>人气热销</h2>
      </div>
    </div>
    <div class="section-content">
      <div class="goods_list primary cf">
        <!--人气热销-->
        {volist name="hotSaleGoods" id="vo_goods"}
        <div class="goods_wrap">
          <div class="goods">
            <div class="corner hot">
              <span class="hide">HOT</span>
            </div>
            <div class="goods_pic">
              <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}" target="_blank">
                <img src="/static/uploads/{$vo_goods.og_thumb}" alt="{$vo_goods.goods_name}" width="230" height="230"></a>
            </div>
            <div class="goods_info">
              <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}" target="_blank">
                <p class="goods_name" title="{$vo_goods.goods_name}">{$vo_goods.goods_name}</p>
              </a>
              <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}"target="_blank" class="goods_like"><i class="icon_fulllove"></i></a>
              <p class="goods_price">￥<span class="num">{$vo_goods.shop_price}</span></p>
            </div>
          </div>
        </div>
        {/volist}
        <!--人气热销end-->
      </div>
    </div>
  </div>

  <div class="section ">
    <div class="section-header">
      <div class="title">
        <img src="/static/index/picture/420ac03c3f784d3e8d341d50aee2a596.gif">
        <h2>新品尝鲜</h2>
      </div>
    </div>
    <div class="section-content">
      <div class="goods_list primary cf">
        <!--新品尝鲜-->
        {volist name="newProductGoods" id="vo_goods"}
        <div class="goods_wrap">
          <div class="goods">
            <div class="goods_pic">
              <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}" target="_blank">
                <img src="/static/uploads/{$vo_goods.og_thumb}" alt="{$vo_goods.goods_name}" width="230" height="230"></a>
            </div>
            <div class="goods_info">
              <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}" target="_blank">
                <p class="goods_name" title="{$vo_goods.goods_name}">{$vo_goods.goods_name}</p>
              </a>
              <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}"target="_blank" class="goods_like"><i class="icon_fulllove"></i></a>
              <p class="goods_price">￥<span class="num">{$vo_goods.shop_price}</span></p>
            </div>
          </div>
        </div>
        {/volist}
        <!--新品尝鲜end-->
      </div>
    </div>
  </div>

  <div class="section ">
    <div class="section-header">
      <div class="title">
        <img src="/static/index/picture/d91ee280e5b34c15b94f5ba61fbb5b00.gif">
        <h2>为你推荐</h2>
      </div>
    </div>
    <div class="section-content">
      <div class="goods_list primary cf">
        <!--为你推荐-->
        {volist name="recommendGoods" id="vo_goods"}
        <div class="goods_wrap">
          <div class="goods">
            <div class="goods_pic">
              <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}" target="_blank">
                <img src="/static/uploads/{$vo_goods.og_thumb}" alt="{$vo_goods.goods_name}" width="230" height="230"></a>
            </div>
            <div class="goods_info">
              <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}" target="_blank">
                <p class="goods_name" title="{$vo_goods.goods_name}">{$vo_goods.goods_name}</p>
              </a>
              <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}"target="_blank" class="goods_like"><i class="icon_fulllove"></i></a>
              <p class="goods_price">￥<span class="num">{$vo_goods.shop_price}</span></p>
            </div>
          </div>
        </div>
        {/volist}

        <!--为你推荐end-->

      </div>
    </div>
  </div>

</div>

<div class="fixed-tools">
  <a href="javascript:void(0);" class="btn-back-to-top"></a>
</div>

<!--尾部-->
{include file="public/footer"}
<!--尾部end-->
</body>
</html>
