<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{$confRes.sitename}</title>
  <meta name="Copyright" content="{$confRes.miaoshu}"/>
  <meta name="Keywords" content="{$confRes.sitename}"/>
  <meta name="Description" content="{$confRes.miaoshu}"/>
  <link rel="stylesheet" type="text/css" href="/static/index/css/pc-jifen-sort.2b57e877.css">
</head>
<body>

<div id="header" class="header">
  <!--个人状态-->
  {include file="public/topmenu"}
  <!--个人状态end-->
  <!--导航栏-->
  {include file="public/topnav"}
  <!--导航栏end-->

</div>

<div class="breadcrumb-box">
  <ol class="breadcrumb">
    <li><a href="/">商城首页</a><span class="diagonal">&gt;</span></li>
    <li><a href="javascript:void(0);">{$column.name}</a></li>
  </ol>
</div>

<div class="content">
  <div class="sort">
    <h2>{$column.name}</h2>
    <div id="productListSortCtrl" class="filter">
      <ul>
        <li data-type="default">
          <a href="javascript:void(0);">默认排序</a>
        </li>
      </ul>
    </div>
  </div>
  {if $count!=0}
  <div class="goods_list cf">
    {volist name="goods" id="vo_goods"}
    <div class="goods_wrap">
      <div class="goods goods_main">
        <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}" target="_blank">
          <div class="goods_pic">
            <img class="js_productMainPic{$vo_goods.id}" src="/static/uploads/{$vo_goods.og_thumb}" alt="{$vo_goods.goods_name}" width="220" height="220">
          </div>
        </a>
        <div class="goods_info">
          <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}" target="_blank">
            <p class="goods_name" title="{$vo_goods.goods_name}">{$vo_goods.goods_name}</p>
          </a>
          <a href="javascript:void(0);" class="goods_like"><i class="icon_fulllove"></i></a>
          <p class="goods_price">￥<span class="num">{$vo_goods.shop_price}</span></p>
          <p class="goods_jf"  style="color: red"><s>市场价 ￥<span class="num" >{$vo_goods.markte_price}</span></s></p>

        </div>
        <div class="goods_detail goods goods_detail_lg">
          <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}"target="_blank">
            <div class="goods_pic goods_main_pic">
              <img class="js_productMainPic{$vo_goods.id}" src="/static/uploads/{$vo_goods.og_thumb}" alt="{$vo_goods.goods_name}" width="220" height="220">
            </div>
          </a>
          <div class="goods_other_pic goods_other_pic_lg">

            <div class="goods_other_pic_left">
              <?php $images = $vo_goods['images']; ?>
              {volist name="images" id="vo_images"}
              <a class="js_thumbnail" data-for=".js_productMainPic{$vo_goods.id}"href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}" target="_blank">
                <img src="/{$vo_images.img_path}" alt="{$vo_goods.goods_name}" width="60" height="60">
              </a>
              {/volist}
            </div>
            <div class="goods_other_pic_right">
              <a class="js_thumbnail" data-for=".js_productMainPic{$vo_goods.id}" href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}" target="_blank">
                <img src="/static/uploads/{$vo_goods.og_thumb}" alt="{$vo_goods.goods_name}" width="60" height="60">
              </a>
            </div>
          </div>
          <div class="goods_info">
            <a href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}" target="_blank">
              <p class="goods_name" title="{$vo_goods.goods_name}">{$vo_goods.goods_name}</p>
            </a>
            <a href="javascript:void(0);" class="goods_like"><i class="icon_fulllove"></i></a>
            <p class="goods_price">￥<span class="num">{$vo_goods.shop_price}</span></p>
            <p class="goods_jf"  style="color: red"><s>市场价 ￥<span class="num" >{$vo_goods.markte_price}</span></s></p>

          </div>
        </div>
      </div>
    </div>
    {/volist}
  </div>
  {else}
  <div class="box">
    <div class="box__header">
      <h2 class="title"><i class="title__icon icon_warn_yellow"></i>抱歉，没有找到<em>“{$title}”</em>相关商品</h2>
    </div>
    <div class="box__body">
    </div>
  </div>
  {/if}


</div>

<!--尾部-->
{include file="public/footer"}
<!--尾部end-->
<script type="text/javascript" src="/static/index/js/c22559310a7b450cbe60c70169dd1d6f.js" charset="UTF-8"></script>

<script type="text/javascript" src="/static/index/js/midaslogdata.3586e7e2.js"></script>
<script type="text/javascript" src="/static/index/js/shop-category.dd928d8c.js"></script>
</body>
</html>
